body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  font-family:Arial, sans-serif;
  color:white;
}

.glass{
  width:400px;
  padding:25px;
  background:rgba(255,255,255,0.15);
  backdrop-filter:blur(15px);
  border-radius:18px;
  box-shadow:0 0 40px rgba(0,0,0,.6);
}

h2{
  text-align:center;
  margin-bottom:20px;
}

button,input{
  width:100%;
  padding:12px;
  margin-top:10px;
  border:none;
  border-radius:10px;
  font-size:15px;
}

button{
  background:#00c6ff;
  font-weight:bold;
  cursor:pointer;
}

button:hover{
  background:#00ffd5;
}

.result{
  margin-top:15px;
  background:rgba(0,0,0,.45);
  padding:12px;
  border-radius:10px;
  font-size:14px;
  line-height:1.6;
}
